/*
  This is a reasonable starting point for the CSS in Sprint 1.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

html{
    background-color:bisque;
}
.repl {
    position:relative;
    min-height:95vh;  
    background-color:bisque;
}

.repl-history {      
    height: 85vh; 
    margin: auto;
    display: block;
    overflow: scroll; 
    font-style: italic;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:maroon; 
}

.repl-input {        
    margin: auto;    
    height:10vh;
    background-color:lightskyblue;
}
.repl-command-box {
    width: 90%;            
    margin: auto;
    display: block;
}
BODY{
    font-size: 35px;
    font-weight: smaller;
}
.enter-command{
    margin: auto;
    display: block;
}
.output{
    margin: auto;
    font-size: 18px;
    font-weight: smaller;
    font-family:'Courier New', Courier, monospace;
    color: black;
}